<ion-header [translucent]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <p style="text-align: center">IMusic</p>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button fill="none">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<app-loading-screen [showLoadingScreen]="showLoading"></app-loading-screen>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
    <section class="category-uploader">
      
      <p>Music Category</p>
      
      <form>
        <input type="text" placeholder="Enter music category" [(ngModel)]="newMusicCategoryName" name="categoryName">
        <ion-button expand="block" (click)="addNewMusicCategory()">Upload</ion-button>
      </form>
    
    </section>
    
    <section class="artist-uploader">
      
      <p>Artist</p>

      <ion-grid>
        <ion-row>

          <ion-col>
            <div class="image-input" #artistImage (click)="artistImageInput.click()" [style.backgroundImage]="'url(' + artistBackgroundImage + ')'"></div>
            <input type="file" #artistImageInput hidden (change)="onUploadArtistImage($event)">
          </ion-col>

          <ion-col class="input-data-col">
            <label for="title">Artist Name</label>
            <ion-input fill="outline" placeholder="Enter artist name" [(ngModel)]="newArtistName" name="artistName"></ion-input>

            <br>

            <ion-button expand="block" (click)="addNewArtist()">Upload</ion-button>


          </ion-col>

        </ion-row>
      </ion-grid>
    </section>

    <section class="music-uploader">
      <p>Music</p>
      <ion-grid>
        <ion-row>

          <ion-col>
            <div class="image-input" (click)="musicBackgroundImageInput.click()" [style.backgroundImage]="'url(' + musicBackgroundImage + ')'"></div>
            <ion-input type="file" #music (change)="uploadMusic($event)"></ion-input>
            <input type="file" hidden #musicBackgroundImageInput (change)="uploadMusicBackground($event)">
          </ion-col>

          <ion-col class="input-data-col">
            <label for="title">Title</label>
            <ion-input fill="outline" placeholder="Enter music title" [(ngModel)]="musicTitle"></ion-input>

            <br>

            <label for="category">Category</label>
            <ion-list id="category">
              <ion-item>
                <ion-select [(ngModel)]="selectedCategoryId">
                  <ion-select-option *ngFor="let c of musicCategories" [value]="c.id">{{c.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <br>

            <label for="singer">Singer</label>
            <ion-list id="singer">
              <ion-item>
                <ion-select [(ngModel)]="selectedArtistId">
                  <ion-select-option *ngFor="let a of artists" [value]="a.id">{{a.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <br>

            <ion-button expand="block" (click)="uploadNewMusic()">Upload</ion-button>


          </ion-col>

        </ion-row>
      </ion-grid>
    </section>

</ion-content>
<section class="empty-space"></section>
<section class="empty-space"></section>

<section class="nav-footer">
  <ion-button fill="clear" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="home-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/search'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/fav'">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/singers'">
    <ion-icon slot="icon-only" name="people-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active" [routerLink]="'/setting'">
    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
  </ion-button>

</section>
