.search-section{

  margin: 20px 0;

  .input-group{


    border: 1px solid #77777799;
    border-radius: 10px;
    display: flex;

    input{
      height: 52px;
      width: 90%;
      outline: 0;
      border: none;
      padding: 0 10px;
    }

  }

}

section.artist-result-section {

  .artist-container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .artist-card{
      width: 49%;
      margin-bottom: 10px;
      .img-container{
        width: 100%;
        height: 150px;
        background-size: cover;
        background-image: url("https://img.freepik.com/free-vector/abstract-flat-line-with-music-note-motion-shapes-pattern-cover-design-poster-banner-decoration_460848-15092.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1716595200&semt=sph");
        border-radius: 5px;
      }
      .info{
        margin-top: 10px;
        .song-name{
          padding: 0;
          margin: 0;
        }
      }
    }

  }

}
