<ion-content [fullscreen]="true">
  <section class="artist-info ion-padding" [style.backgroundImage]="'url(' + singer.image + ')'">
    <div class="info">
      <p class="singer-name">{{singer.name}}</p>
      <p class="singer-id">ID: {{singer.id}}</p>
    </div>
  </section>

  <div class="ion-padding-horizontal">
    <section class="search-section">

      <div class="input-group">
        <input type="text">
        <ion-button>Search</ion-button>
      </div>

    </section>

    <section class="music-list-section">

      <div class="category-container">
        <p class="active">All</p>
        <p>Pop</p>
        <p>Rock</p>
        <p>HipHop</p>
        <p>Electro</p>
        <p>Other</p>
      </div>

      <div class="content">

        <div class="music" *ngFor="let m of musicList">

          <img [src]="m.imageUrl" alt="">

          <div class="info">
            <div class="text">
              <p>{{m.title}}</p>
              <span>{{singer.name}}</span>
            </div>
            <span></span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

      </div>

    </section>

    <section class="empty-space"></section>
    <section class="empty-space"></section>
  </div>

</ion-content>

<section class="nav-footer">
  <ion-button fill="clear" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="home-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/search'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/fav'">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active" [routerLink]="'/singers'">
    <ion-icon slot="icon-only" name="people-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/setting'">
    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
  </ion-button>

</section>
