<ion-content [fullscreen]="true">
  <section class="artist-info ion-padding">
    <div class="info">
      <p class="singer-name">J.Smith</p>
      <p class="singer-id">ID: 1234253</p>
    </div>
  </section>

  <div class="ion-padding-horizontal">
    <section class="search-section">

      <div class="input-group">
        <input type="text">
        <ion-button>Search</ion-button>
      </div>

    </section>

    <section class="music-list-section">

      <div class="category-container">
        <p class="active">All</p>
        <p>Pop</p>
        <p>Rock</p>
        <p>HipHop</p>
        <p>Electro</p>
        <p>Other</p>
      </div>

      <div class="content">

        <div class="music">

          <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp" alt="">

          <div class="info">
            <div class="text">
              <p>See you again</p>
              <span>xxx</span>
            </div>
            <span>3:45</span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

        <div class="music">

          <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp" alt="">

          <div class="info">
            <div class="text">
              <p>See you again</p>
              <span>xxx</span>
            </div>
            <span>3:45</span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

        <div class="music">

          <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp" alt="">

          <div class="info">
            <div class="text">
              <p>See you again</p>
              <span>xxx</span>
            </div>
            <span>3:45</span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

        <div class="music">

          <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp" alt="">

          <div class="info">
            <div class="text">
              <p>See you again</p>
              <span>xxx</span>
            </div>
            <span>3:45</span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

        <div class="music">

          <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp" alt="">

          <div class="info">
            <div class="text">
              <p>See you again</p>
              <span>xxx</span>
            </div>
            <span>3:45</span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

        <div class="music">

          <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp" alt="">

          <div class="info">
            <div class="text">
              <p>See you again</p>
              <span>xxx</span>
            </div>
            <span>3:45</span>
          </div>

          <ion-icon class="love-icon" name="heart-outline"></ion-icon>

        </div>

      </div>

    </section>

    <section class="empty-space"></section>
  </div>

</ion-content>





<section class="nav-footer">
  <ion-button fill="clear" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="home-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active"  [routerLink]="'/search'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/fav'">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/setting'">
    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
  </ion-button>

</section>
