<ion-header [translucent]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <p style="text-align: center">IMusic</p>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button fill="none">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <section class="new-song-section">

    <div class="header">
      <h3>New Music</h3>
      <span>See All</span>
    </div>

    <div class="content-container">


      <div class="new-song-card" *ngFor="let m of musics" [style.backgroundImage]="'url(' + m.imageUrl + ')'" (click)="playMusic(m)">

        <div class="info">
          <span>{{m.title}}</span>
        </div>
      </div>

    </div>

  </section>

  <section class="artist-section">

    <div class="header">
      <h3>Artist List</h3>
      <span>See All</span>
    </div>

    <div class="content-container">

      <div class="artist-card" *ngFor="let a of artists" (click)="routeToSingerDetails(a)">
        <img [src]="a.image" alt="">
        <p>{{a.name}}</p>
      </div>

    </div>

  </section>

  <section class="fav-song-section">

    <div class="header">
      <h3>Favourite Music</h3>
      <span>See All</span>
    </div>

    <div class="content-container">

      <div class="fav-song-card" *ngFor="let fav of favMusics" (click)="playMusic(fav)">
        <div class="img-container" [style.backgroundImage]="'url(' + fav.imageUrl + ')'"></div>
        <div class="info">
          <p class="song-name">{{fav.title}}</p>
          <span class="singer-name">{{fav.artists.name}}</span>
        </div>
      </div>

    </div>

  </section>

  <section class="empty-space"></section>
  <section class="empty-space"></section>

</ion-content>

<section class="nav-footer">
  <ion-button fill="clear" class="active" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="home-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear"  [routerLink]="'/search'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/fav'">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/singers'">
    <ion-icon slot="icon-only" name="people-outline"></ion-icon>
  </ion-button>
  
  <ion-button fill="clear" [routerLink]="'/setting'">
    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
  </ion-button>

</section>
